{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <div class="row">

        <div class="col-5 text-center border border-dark border-3 me-3 p-4">
            <h1>Factorial</h1>
            <form method="POST">
                {% csrf_token %}
                 {{ form|crispy }}
                <div class="mb-3">
                    <label class="form-label">Number</label>
                    <input type="number" class="form-control" name="num" value="{{num}}">
                </div>
                <div class="mb-3">
                    <input type="submit" name="factorial_submit" class="btn btn-light" value="Calculate">
                </div>
                {% if operation == 'factorial' %}
                    <h4>Factorial is: {{ result }}</h4>
                {% endif %}
            </form>
        </div>

        <div class="col-5 text-center border border-dark border-3 p-4">
            <h1>BMI - Calculator</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Height (m)</label>
                    <input type="number" step="0.01" class="form-control" name="height" value="{{height}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Weight (kg)</label>
                    <input type="number" step="0.1" class="form-control" name="weight" value="{{weight}}">
                </div>
                <div class="mb-3">
                    <input type="submit" name="bmi_submit" class="btn btn-light" value="Calculate">
                </div>
                {% if operation == 'bmi' %}
                    <h4>Your BMI is: {{ bmi_result }}</h4>
                {% endif %}
            </form>
        </div>

    </div>
</div>
{% endblock %}
